microarquitectura/db
microarquitectura/output_files
microarquitectura/incremental_db
microarquitectura/simulation
*.bak
*.rpt
microarquitectura/outFile.txt

compiler/.idea/

compiler/compiler/__pycache__/
